
 <div class="agilebox">
    <img src="../../assets/images/kore.png" alt="" class="logo">
    <div  class="imageagile">
        <img class="img-fluid" src="../../assets/images/agile.png" alt="">
    </div>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         Explicabo laboriosam sed quisquam totam expedita blanditiis,
          eos quo ipsam rem placeat perferendis tempora, reprehenderit 
          perspiciatis quod sint. Quaerat voluptate in vero.</p>
          {{title}}
    <button (click)="hello()" >Agile</button>
</div>
