.innovbox{
    position: relative;
    width: 31%;
    height: 500px;
    float: left;
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
    margin: 6px;
    overflow: hidden;
    
}
.imageinnov{
    position: relative;
   margin-left: 20px;
   height: 200px;
   width: 200px;
    border-radius: 125px;
    overflow: hidden;
    
}
.logo{
    float: left;
    height: 40px;
    width: 100px;
    overflow: hidden;
}