.iotbox{
    width: 32%;
    height: 500px;
    float: left;
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
    margin: 6px;
    overflow: hidden;
}

.imageiot{
    
    height: 200px;
    width: 200px;
    border-radius: 150px;
    overflow: hidden;
}
.logo{
    float: left;
    height: 40px;
    overflow: hidden;
    width: 100px;
}